<!-- <!DOCTYPE html>
<html>
<style>
    button {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity: 1;
}
</style>
<head>
    <h1 style="text-align: center">Welcome To Home Page</h1>
</head>

<body>
    <button type="submit" class="registerbtn">Log in </button>
    </a>
</body>

</html> -->

<!DOCTYPE html>
<html>

<head>

    <style>
        h1{
            margin-bottom: 100px;
        }
      a {
  background-color: #04AA6D;
  color: white;
  padding: 16px 735px;
  margin: 8px 0;
  border: none;
  text-decoration: none;
  font-size: 30px;
  font-weight: 700;



}

a:hover {
  opacity: 1;
}
    </style>
</head>

<body>
    <h1 style="text-align: center"> Welcome To Home Page</h1>
    <a type="onclick" class="registerbtn" href="{{url_for('login')}}">Logout </a>
</body>

</html>